body {
  color: #40514E;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
  text-align: center;
}
h1 {
  color: #66BFBF;
  font-size: 4.375rem;
  font-family: 'Merienda', cursive;
  margin: 50px auto 0 auto;
  padding-bottom: 10px;
}
h2 {
  color: #1B2957;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #11999E;
}

hr {
  border-style: none;
  border-top: 8px dotted #EAF6F6;
  width: 5%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.logo {
  height: 400px;
}

.top-container {
  position: relative;
  background-color: #d3e4ed;
  text-align: center;
  padding: 5% 10%;
}

.headline {
  line-height: 1.6;
  width: 700px;
  margin: auto auto;
}

.middle-container {
  position: relative;
  padding: 100px 0 100px 0;
}


.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding: 30px;
}

.contact-me {
  position: relative;
  margin: 50px auto;
}

.coppy-write {
  color: #EAF6F6;
  margin-top: 30px;
}

.footer-link {
  padding: 30px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.footer-link:hover {
  color: #EAF6F6;
}



.btn {
  display: block;
  position: relative;
  margin: 30px 30%;
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -moz-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -ms-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -o-linear-gradient(top, #66BFBF, #2980b9);
  background-image: linear-gradient(to bottom, #66BFBF, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #66BFBF;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/* .Facebook {
  position: absolute;
  margin: auto auto;
  left: 40%;
  right: 40%;
} */
